nav{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    height: 85px;
    font-size: 40px;
    display: flex;
    align-items:center;
    padding: 0 12px;
    font-family: 'IBM Plex Mono', monospace;
}
nav ul{
    list-style-type: none;
}

h1 {
    color:red;
    font-size:500%;
    font-family: cursive;
    text-align: center;
}

#rule{
    color:#faf3f3;
    display: flex;
    justify-content:left;
    
}
#in{
    width:35%;
    margin-top:1%;
    font-size: 27px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#btn{
    width:38%;
    font-size: 50px;
    margin-top: 10px;
    background-color: rgb(15, 167, 15);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
}

#content{
    width:70%;
    font-size: 40px;
    margin-left: 18%;
    font-family: monospace;
    color:#ffffff;
    
}

#count{
    color: #4765c5;
    width:70%;
    font-size: 40px;
    margin-left: 35%;
    font-family: monospace;
}
